<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @album.company_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @album.code %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @album.is_active %>
</p>

<%= link_to 'Edit', edit_admin_album_path(@album) %> |
<%= link_to 'Back', admin_albums_path %>
