<table class="table">
	<tr>
		<td width="50%">
			<%= form_for([:admin, @album, @album_product]) do |f| %>
			  <% if @album_product.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@album_product.errors.count, "error") %> prohibited this album_product from being saved:</h2>
			
			      <ul>
			      <% @album_product.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
					<%= f.hidden_field :album_id, :value => @album.id %>
			   	<div class="field">
			      <%= f.label :product_id %>
						<%= f.select :product_id, options_for_select([["Select", ""]] + Product.active.where(:company_id => @album.company.id).collect {|r| [r.name, r.id]}, (@album_product.product.id unless @album_product.product.nil?)), {}, {:multiple => true}  %>
			   	</div>    
			
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>
		</td>
		<td width="50%">
			
			<table class="table">
			  <thead>
			    <tr>
			    	<th><%= t("general.name") %></th>
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @album.products.each do |product| %>
			      <tr>
			      	<td><%= product.name %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			
		</td>	
	</tr>
</table>