<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @album_product.album_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @album_product.product_id %>
</p>

<%= link_to 'Edit', edit_admin_album_album_product_path(@album, @album_product) %> |
<%= link_to 'Back', admin_album_album_products_path(@album) %>
