<%= form_for [:company_admin, @company_layout], :html => {:class => "form-horizontal"} do |f| %>
  <% if @company_layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_layout.errors.count, "error") %> prohibited this company_layout from being saved:</h2>

      <ul>
      <% @company_layout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    	<label class="col-sm-2 control-label">Select Theme</label>
		<div class="col-sm-10"><%= f.select :company_layout_id, options_for_select([["Select", ""]] + CompanyLayout.themes.collect {|r| [r.theme_name, r.id]}, @company_layout.company_layout_id)  %></div>
   	</div>


  <div class="form-group">
      <label class="col-sm-2 control-label">Header BG Color</label>
    	<div class="col-sm-10"><%= f.text_field :header_background_color, :class => "mini_color form-control" %></div>
    </div>

  <div class="form-group">
      <label class="col-sm-2 control-label">Header Text BG Color</label>
    <div class="col-sm-10"><%= f.text_field :header_text_background_color, :class => "mini_color form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Home BG Color</label>
    <div class="col-sm-10"><%= f.text_field :home_background_color, :class => "mini_color form-control" %></div>
    </div>    
    
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do BG Color</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_background_color, :class => "mini_color form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Am BG Color</label>
    <div class="col-sm-10"><%= f.text_field :who_i_am_background_color, :class => "mini_color form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work BG Color</label>
    <div class="col-sm-10"><%= f.text_field :my_work_background_color, :class => "mini_color form-control" %></div>
    </div>            

  <div class="form-group">
      <label class="col-sm-2 control-label">Front BG Image 1</label>
    <div class="col-sm-10"><%= f.file_field :front_background1, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Front BG Image 2</label>
    <div class="col-sm-10"><%= f.file_field :front_background2, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Front BG Image 3</label>
    <div class="col-sm-10"><%= f.file_field :front_background3, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Front BG Image 4</label>
    <div class="col-sm-10"><%= f.file_field :front_background4, :class => "form-control" %></div>
    </div>            


  <div class="form-group">
      <label class="col-sm-2 control-label">Album BG Color</label>
    <div class="col-sm-10"><%= f.text_field :album_background_color, :class => "mini_color form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Sidebar BG Color</label>
    <div class="col-sm-10"><%= f.text_field :album_sidebar_background_color, :class => "mini_color form-control" %></div>
    </div>    
    

  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us BG Color</label>
    <div class="col-sm-10"><%= f.text_field :contact_us_background_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer BG Color</label>
    <div class="col-sm-10"><%= f.text_field :footer_background_color, :class => "mini_color form-control"%></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Header Font Color</label>
    <div class="col-sm-10"><%= f.text_field :header_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :home_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :home_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :who_i_am_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :who_i_am_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :album_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :album_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :my_work_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :my_work_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Name Font Color</label>
    <div class="col-sm-10"><%= f.text_field :contact_us_name_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Desc Font Color</label>
    <div class="col-sm-10"><%= f.text_field :contact_us_description_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer Font Color</label>
    <div class="col-sm-10"><%= f.text_field :footer_font_color, :class => "mini_color form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Header Font</label>
      <div class="col-sm-10"><%= f.select  :header_font, options_for_select(font_styles, @company_layout.header_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Name Font</label>
      <div class="col-sm-10"><%= f.select  :home_name_font, options_for_select(font_styles, @company_layout.home_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Desc Font</label>
      <div class="col-sm-10"><%= f.select  :home_description_font, options_for_select(font_styles, @company_layout.home_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Name Font</label>
      <div class="col-sm-10"><%= f.select  :what_i_do_name_font, options_for_select(font_styles, @company_layout.what_i_do_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Desc Font</label>
      <div class="col-sm-10"><%= f.select  :what_i_do_description_font, options_for_select(font_styles, @company_layout.what_i_do_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Name Font</label>
      <div class="col-sm-10"><%= f.select  :who_i_am_name_font, options_for_select(font_styles, @company_layout.who_i_am_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Desc Font</label>
      <div class="col-sm-10"><%= f.select  :who_i_am_description_font, options_for_select(font_styles, @company_layout.who_i_am_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Name Font</label>
      <div class="col-sm-10"><%= f.select  :album_name_font, options_for_select(font_styles, @company_layout.album_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Desc Font</label>
      <div class="col-sm-10"><%= f.select  :album_description_font, options_for_select(font_styles, @company_layout.album_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Name Font</label>
      <div class="col-sm-10"><%= f.select  :my_work_name_font, options_for_select(font_styles, @company_layout.my_work_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Desc Font</label>
      <div class="col-sm-10"><%= f.select  :my_work_description_font, options_for_select(font_styles, @company_layout.my_work_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Name Font</label>
      <div class="col-sm-10"><%= f.select  :contact_us_name_font, options_for_select(font_styles, @company_layout.contact_us_name_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Desc Font</label>
      <div class="col-sm-10"><%= f.select  :contact_us_description_font, options_for_select(font_styles, @company_layout.contact_us_description_font), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer Font</label>
      <div class="col-sm-10"><%= f.select  :footer_font, options_for_select(font_styles, @company_layout.footer_font), :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Header Font Family</label>
    <div class="col-sm-10"><%= f.text_field :header_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :home_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :home_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :who_i_am_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :who_i_am_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :album_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :album_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :my_work_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :my_work_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Name Font Family</label>
    <div class="col-sm-10"><%= f.text_field :contact_us_name_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Desc Font Family</label>
    <div class="col-sm-10"><%= f.text_field :contact_us_description_font_family, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer Font Family</label>
    <div class="col-sm-10"><%= f.text_field :footer_font_family, :class => "form-control" %></div>
    </div>
    
        
  <div class="form-group">
      <label class="col-sm-2 control-label">Header Font Size</label>
      <div class="col-sm-10"><%= f.select :header_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.header_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Name Font Size</label>
      <div class="col-sm-10"><%= f.select :home_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.home_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Home Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :home_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.home_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Name Font Size</label>
      <div class="col-sm-10"><%= f.select :what_i_do_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.what_i_do_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :what_i_do_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.what_i_do_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Name Font Size</label>
      <div class="col-sm-10"><%= f.select :who_i_am_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.who_i_am_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :who_i_am_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.who_i_am_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Name Font Size</label>
      <div class="col-sm-10"><%= f.select :album_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.album_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Album Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :album_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.album_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Name Font Size</label>
      <div class="col-sm-10"><%= f.select :my_work_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.my_work_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :my_work_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.my_work_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Name Font Size</label>
      <div class="col-sm-10"><%= f.select :contact_us_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.contact_us_name_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Contact Us Desc Font Size</label>
      <div class="col-sm-10"><%= f.select :contact_us_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.contact_us_description_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer Font Size</label>
    	<div class="col-sm-10"><%= f.select :footer_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.footer_font_size), :class => "form-control" %></div>
    </div>
  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
    	<%= f.submit  :class => "btn-success btn" %>
    </div>	
  </div>
<% end %>

<script type="text/javascript">
	$(document).ready( function() {
		$('.mini_color').minicolors({
					control: $(this).attr('data-control') || 'wheel',
					defaultValue: $(this).attr('data-defaultValue') || '',
					inline: $(this).attr('data-inline') === 'true',
					letterCase: $(this).attr('data-letterCase') || 'lowercase',
					opacity: $(this).attr('data-opacity'),
					position: $(this).attr('data-position') || 'bottom left',
					theme: 'bootstrap'
				});
	});
</script>
