<%= form_for [:company_admin, @company], :html => {:class => "form-horizontal"} do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   	<div class="form-group">
      <label class="col-sm-2 control-label">Market</label>
			<div class="col-sm-10"><%= f.select :market_id, options_for_select([["Select", ""]] + Market.active.collect {|r| [r.name, r.id]}, (@company.market.id unless @company.market.nil?)), :class => "form-control"  %></div>
   	</div>	    

  <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10"> <%= f.text_field :name, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10"> <%= f.text_area :description, :class => "form-control" %></div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10"><%= f.text_area :address, :class => "form-control" %></div>
    </div>           

  <div class="form-group">
      <label class="col-sm-2 control-label">Contact person</label>
   <div class="col-sm-10"> <%= f.text_field :contact_person, :class => "form-control" %></div>
    </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">Mobile 1</label>
  <div class="col-sm-10"> <%= f.text_field :mobile_1, :class => "form-control" %></div>
    </div>

  <div class="form-group">
      <label class="col-sm-2 control-label">Mobile 2</label>
  <div class="col-sm-10"> <%= f.text_field :mobile_2, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Mobile 3</label>
    <div class="col-sm-10"><%= f.text_field :mobile_3, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Phone 1</label>
   <div class="col-sm-10"><%= f.text_field :phone_1, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Phone 2</label>
   <div class="col-sm-10"> <%= f.text_field :phone_2, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Phone 3</label>
    <div class="col-sm-10"><%= f.text_field :phone_3, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Lable</label>
    <div class="col-sm-10"><%= f.text_field :what_i_do_label, :class => "form-control" %></div>
    </div>

  <div class="form-group">
      <label class="col-sm-2 control-label">What I Do Desc</label>
    <div class="col-sm-10"><%= f.text_area :what_i_do_desc, :class => "form-control" %></div>
    </div>           
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Label</label>
  <div class="col-sm-10">  <%= f.text_field :who_i_am_label, :class => "form-control" %></div>
    </div>

  <div class="form-group">
      <label class="col-sm-2 control-label">Who I Am Desc</label>
   <div class="col-sm-10"> <%= f.text_area :who_i_am_desc, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Label</label>
   <div class="col-sm-10"> <%= f.text_field :my_work_label, :class => "form-control" %></div>
    </div>
    
  <div class="form-group">
      <label class="col-sm-2 control-label">My Work Desc</label>
    <div class="col-sm-10"><%= f.text_area :my_work_desc, :class => "form-control" %></div>
    </div>           
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Footer Content</label>
    <div class="col-sm-10"><%= f.text_field :footer_content, :class => "form-control" %></div>
    </div>           
    
   <div class="checkbox">
      <label class="col-sm-2 control-label"></label>
      <label><%= f.check_box :is_active %> Active</label>
   </div>        
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Logo</label>
    <div class="col-sm-10"><%= f.file_field :logo, :class => "form-control" %></div>
    </div>   
     
  <div class="form-group">
  	<label class="col-sm-2 control-label"></label>
    <div class="col-sm-10"><%= image_tag(@company.logo_url) if @company.logo.present? %></div>
    </div>     
    
  <div class="form-group">
      <label class="col-sm-2 control-label">Favicon</label>
    <div class="col-sm-10"><%= f.file_field :favicon, :class => "form-control" %></div>
    </div>   
     
  <div class="form-group">
  	<label class="col-sm-2 control-label"></label>
    <div class="col-sm-10"><%= image_tag(@company.original_url) if @company.favicon.present? %></div>
    </div>        

  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
    	<%= f.submit  :class => "btn-success btn" %>
    </div>	
  </div>

<% end %>
