<%= form_for [:company_admin, @company_work_type], :html => {:class => "form-horizontal"} do |f| %>
  <% if @company_work_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_work_type.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @company_work_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :company_id, :value => @current_company.id  %>

  <div class="form-group">
	  	<label class="col-sm-2 control-label">Work Type</label>
	  	<div class="col-sm-10">
	      <%= autocomplete_field_tag 'work_type_name', (@company_work_type.work_type.name if @company_work_type.work_type), autocomplete_work_type_name_company_admin_company_work_types_path,  :class =>"form-control" %>
	    </div>  
			<%#= f.autocomplete_field :work_type_name, autocomplete_work_type_name_company_admin_company_work_types_path %>    
    </div>
    

  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
  		<%= link_to 'Back', company_admin_company_work_types_path, :class => "btn-primary btn" %>
    	<%= f.submit  :class => "btn-success btn" %>
    </div>	
  </div>
<% end %>
