<!-- Intro -->
	<section id="intro" class="main style1 dark fullscreen" style="background: url('/assets/sarees1.jpeg');">
		<div class="content container small">
			<header>
				<h2 style="font-size:  <%= @current_company_layout.home_name_font_size %>px;
									font-family:  <%= @current_company_layout.home_name_font_family %>;
									color:  <%= @current_company_layout.home_name_font_color %>;
											    "><%= @current_company.name %>.</h2>
			</header>
			<p style="font-size:  <%= @current_company_layout.home_description_font_size %>px;
									font-family:  <%= @current_company_layout.home_description_font_family %>;
									color:  <%= @current_company_layout.home_description_font_color %>;
											    ">Welcome to <strong><%= @current_company.name %></strong> <%= @current_company.description %></p>
			<footer>
				<a href="#one" class="button style2 down">More</a>
			</footer>
		</div>
	</section>

<!-- One -->
	<section id="one" class="main style2 right dark fullscreen"  style="background: url('<%= @current_company_layout.front_background2_url %>');">
		<div class="content box style2" style="background: <%= @current_company_layout.what_i_do_background_color %>">
			<header>
				<h2 style="font-size:  <%= @current_company_layout.what_i_do_name_font_size %>px;
									font-family:  <%= @current_company_layout.what_i_do_name_font_family %>;
									color:  <%= @current_company_layout.what_i_do_name_font_color %>;
											    "><%= @current_company.what_i_do_label %></h2>
			</header>
			<p style="font-size:  <%= @current_company_layout.what_i_do_description_font_size %>px;
									font-family:  <%= @current_company_layout.what_i_do_description_font_family %>;
									color:  <%= @current_company_layout.what_i_do_description_font_color %>;
											    "><%= @current_company.what_i_do_desc %></p>
		</div>
		<a href="#two" class="button style2 down anchored">Next</a>
	</section>

<!-- Two -->
	<section id="two" class="main style2 left dark fullscreen"  style="background: url('<%= @current_company_layout.front_background3_url %>');">
		<div class="content box style2" style="background: <%= @current_company_layout.who_i_am_background_color %>">
			<header>
				<h2 style="font-size:  <%= @current_company_layout.who_i_am_name_font_size %>px;
									font-family:  <%= @current_company_layout.who_i_am_name_font_family %>;
									color:  <%= @current_company_layout.who_i_am_name_font_color %>;
											    "><%= @current_company.who_i_am_label %></h2>
			</header>
			<p style="font-size:  <%= @current_company_layout.who_i_am_description_font_size %>px;
									font-family:  <%= @current_company_layout.who_i_am_description_font_family %>;
									color:  <%= @current_company_layout.who_i_am_description_font_color %>;
											    "><%= @current_company.who_i_am_desc %></p>
		</div>
		<a href="#work_types" class="button style2 down anchored">Next</a>
	</section>
	
	
<!-- work_types -->
	<section id="work_types" class="main style2 right dark fullscreen"  style="background: url('<%= @current_company_layout.front_background4_url %>');">
		<div class="content box style2" style="background: <%= @current_company_layout.my_work_background_color %>">
			<header>
				<h2 style="font-size:  <%= @current_company_layout.my_work_name_font_size %>px;
									font-family:  <%= @current_company_layout.my_work_name_font_family %>;
									color:  <%= @current_company_layout.my_work_name_font_color %>;
											    "><%= @current_company.my_work_label %></h2>
			</header>
				<ul style="font-size:  <%= @current_company_layout.my_work_description_font_size %>px;
									font-family:  <%= @current_company_layout.my_work_description_font_family %>;
									color:  <%= @current_company_layout.my_work_description_font_color %>;
											    ">
				<% @current_company.work_types.each do |work_type| %>
					<li><strong><%= work_type.name.to_s %></strong></li>
				<% end %>
				</ul>
		</div>
		<a href="#work" class="button style2 down anchored">Next</a>
	</section>			
	
	
<!-- Albums -->
	<section id="work" class="main style3 primary pad1em" style="background: <%= @current_company_layout.album_background_color %>">
		<%= render "albums" %>
	</section>
	
	
	

		
<!-- Contact -->
	<section id="contact" class="main style3 secondary" style="background: <%= @current_company_layout.contact_us_background_color %>">
		<div class="content container">
			<header>
				<h2 style="font-size:  <%= @current_company_layout.contact_us_name_font_size %>px;
									font-family:  <%= @current_company_layout.contact_us_name_font_family %>;
									color:  <%= @current_company_layout.contact_us_name_font_color %>;
											    ">Contact Us</h2>
				<p style="font-size:  <%= @current_company_layout.contact_us_description_font_size %>px;
									font-family:  <%= @current_company_layout.contact_us_description_font_family %>;
									color:  <%= @current_company_layout.contact_us_description_font_color %>;
											    ">
					<%= company_address %><br /><br />
					Contact Person: <%= @current_company.contact_person %><br />
					Mobile: <%= company_mobiles %><br />
					Phone: <%= company_phones %>							
				</p>						
			</header>
			<div class="box container small">
			
				<!--
					 Contact Form
					 
					 To get this working, place a script on your server to receive the form data, then
					 point the "action" attribute to it (eg. action="http://mydomain.tld/mail.php").
					 More on how it all works here: http://www.1stwebdesigner.com/tutorials/custom-php-contact-forms/
				-->
					<%= render "home/contact_us"%>

			</div>
		</div>
	</section>
