<h1>Listing contact_us</h1>

<table class="table">
  <thead>
    <tr>
    	<th>Name</th>
    	<th>Email</th>
    	<th>Phone</th>
    	<th>Message</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us.each do |contact_us| %>
      <tr>
      	<td><%= contact_us.name %></td>
      	<td><%= contact_us.email %></td>
      	<td><%= contact_us.phone %></td>
      	<td><%= contact_us.message %></td>
        <td><%= link_to 'Destroy', [:company_admin, contact_us], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>