<%= form_for [:admin, @category], :html => {:class => "form-horizontal"} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	  	<label class="col-sm-2 control-label">Name</label>
	  	<div class="col-sm-10"><%= f.text_field :name, :class =>"form-control", :placeholder => "Name" %></div>	
   </div>
    
  <div class="form-group">
	  	<label class="col-sm-2 control-label">Category</label>
			<div class="col-sm-10"><%= f.select :category_id, options_for_select([["Select", ""]] + Category.active.where("category_id IS NULL").collect {|r| [r.name, r.id]}, (@category.parent.id unless @category.parent.nil?)), :class =>"form-control"  %></div>
   	</div>	    

   <div class="checkbox">
      <label class="col-sm-2 control-label"></label>
      <label><%= f.check_box :is_active %> Active</label>
   </div>   
  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
  		<%= link_to 'Back', admin_categories_path, :class => "btn-primary btn" %>
    	<%= f.submit  :class => "btn-success btn" %>
    </div>	
<% end %>
