<h1>Listing categories</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name", t("general.name") %></th>
      <th>Parent</th>
      <th>Is active</th>    	
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.parent.name if cat.parent %></td>
        <td><%= cat.is_active %></td>      	
        <td><%= link_to 'Show', [:admin, cat] %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(cat) %></td>
        <td><%= link_to 'Destroy', [:admin, cat], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path %>
