<%= form_for([:admin, @company_layout]) do |f| %>
  <% if @company_layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_layout.errors.count, "error") %> prohibited this company_layout from being saved:</h2>

      <ul>
      <% @company_layout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    	<%= f.label :company_id %>
		<%= f.select :company_id, options_for_select([["Select", ""]] + Company.active.collect {|r| [r.name, r.id]}, (@company_layout.company.id unless @company_layout.company.nil?))  %>
   	</div>
   	
  <div class="field">
       <%= f.label :theme_name %><br>
    	<%= f.text_field :theme_name %>
    </div>

  <div class="field">
      <%= f.label :header_background_color %><br>
    <%= f.text_field :header_background_color, :class => "mini_color" %>
    </div>

  <div class="field">
      <%= f.label :header_text_background_color %><br>
    <%= f.text_field :header_text_background_color, :class => "mini_color" %>
    </div>
    
  <div class="field">
      <%= f.label :home_background_color %><br>
    <%= f.text_field :home_background_color, :class => "mini_color" %>
    </div>    
    
  <div class="field">
      <%= f.label :what_i_do_background_color %><br>
    <%= f.text_field :what_i_do_background_color, :class => "mini_color" %>
    </div>
    
  <div class="field">
      <%= f.label :who_i_am_background_color %><br>
    <%= f.text_field :who_i_am_background_color, :class => "mini_color" %>
    </div>
    
  <div class="field">
      <%= f.label :my_work_background_color %><br>
    <%= f.text_field :my_work_background_color, :class => "mini_color" %>
    </div>            

  <div class="form-group">
      <%= f.label :front_background1 %>
    <%= f.file_field :front_background1, :class => "form-control" %>
    </div>
    
  <div class="form-group">
      <%= f.label :front_background2 %>
    <%= f.file_field :front_background2, :class => "form-control" %>
    </div>
    
  <div class="form-group">
      <%= f.label :front_background3 %>
    <%= f.file_field :front_background3, :class => "form-control" %>
    </div>
    
  <div class="form-group">
      <%= f.label :front_background4 %>
    <%= f.file_field :front_background4, :class => "form-control" %>
    </div>    
  <div class="field">
      <%= f.label :album_background_color %><br>
    <%= f.text_field :album_background_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :album_sidebar_background_color %><br>
    <%= f.text_field :album_sidebar_background_color, :class => "mini_color" %>
    </div>    
  <div class="field">
      <%= f.label :contact_us_background_color %><br>
    <%= f.text_field :contact_us_background_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :footer_background_color %><br>
    <%= f.text_field :footer_background_color, :class => "mini_color"%>
    </div>
    
    
  <div class="field">
       <%= f.label :logo_font_color %><br>
    	<%= f.text_field :logo_font_color, :class => "mini_color" %>
    </div>        
  <div class="field">
      <%= f.label :header_font_color %><br>
    <%= f.text_field :header_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :home_name_font_color %><br>
    <%= f.text_field :home_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :home_description_font_color %><br>
    <%= f.text_field :home_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_name_font_color %><br>
    <%= f.text_field :what_i_do_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_description_font_color %><br>
    <%= f.text_field :what_i_do_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_name_font_color %><br>
    <%= f.text_field :who_i_am_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_description_font_color %><br>
    <%= f.text_field :who_i_am_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :album_name_font_color %><br>
    <%= f.text_field :album_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :album_description_font_color %><br>
    <%= f.text_field :album_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :my_work_name_font_color %><br>
    <%= f.text_field :my_work_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :my_work_description_font_color %><br>
    <%= f.text_field :my_work_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :contact_us_name_font_color %><br>
    <%= f.text_field :contact_us_name_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :contact_us_description_font_color %><br>
    <%= f.text_field :contact_us_description_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :footer_font_color %><br>
    <%= f.text_field :footer_font_color, :class => "mini_color" %>
    </div>
  <div class="field">
      <%= f.label :header_font %><br>
      <%= f.select  :header_font, options_for_select(font_styles, @company_layout.header_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :home_name_font %><br>
      <%= f.select  :home_name_font, options_for_select(font_styles, @company_layout.home_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :home_description_font %><br>
      <%= f.select  :home_description_font, options_for_select(font_styles, @company_layout.home_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_name_font %><br>
      <%= f.select  :what_i_do_name_font, options_for_select(font_styles, @company_layout.what_i_do_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_description_font %><br>
      <%= f.select  :what_i_do_description_font, options_for_select(font_styles, @company_layout.what_i_do_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_name_font %><br>
      <%= f.select  :who_i_am_name_font, options_for_select(font_styles, @company_layout.who_i_am_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_description_font %><br>
      <%= f.select  :who_i_am_description_font, options_for_select(font_styles, @company_layout.who_i_am_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :album_name_font %><br>
      <%= f.select  :album_name_font, options_for_select(font_styles, @company_layout.album_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :album_description_font %><br>
      <%= f.select  :album_description_font, options_for_select(font_styles, @company_layout.album_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :my_work_name_font %><br>
      <%= f.select  :my_work_name_font, options_for_select(font_styles, @company_layout.my_work_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :my_work_description_font %><br>
      <%= f.select  :my_work_description_font, options_for_select(font_styles, @company_layout.my_work_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :contact_us_name_font %><br>
      <%= f.select  :contact_us_name_font, options_for_select(font_styles, @company_layout.contact_us_name_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :contact_us_description_font %><br>
      <%= f.select  :contact_us_description_font, options_for_select(font_styles, @company_layout.contact_us_description_font), :class => "input-xlarge" %>
    </div>
  <div class="field">
      <%= f.label :footer_font %><br>
      <%= f.select  :footer_font, options_for_select(font_styles, @company_layout.footer_font), :class => "input-xlarge" %>
    </div>
    
    
  <div class="field">
       <%= f.label :logo_font_family %><br>
    	<%= f.text_field :logo_font_family %>
    </div>         
  <div class="field">
      <%= f.label :header_font_family %><br>
    <%= f.text_field :header_font_family %>
    </div>
  <div class="field">
      <%= f.label :home_name_font_family %><br>
    <%= f.text_field :home_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :home_description_font_family %><br>
    <%= f.text_field :home_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_name_font_family %><br>
    <%= f.text_field :what_i_do_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_description_font_family %><br>
    <%= f.text_field :what_i_do_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_name_font_family %><br>
    <%= f.text_field :who_i_am_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_description_font_family %><br>
    <%= f.text_field :who_i_am_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :album_name_font_family %><br>
    <%= f.text_field :album_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :album_description_font_family %><br>
    <%= f.text_field :album_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :my_work_name_font_family %><br>
    <%= f.text_field :my_work_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :my_work_description_font_family %><br>
    <%= f.text_field :my_work_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :contact_us_name_font_family %><br>
    <%= f.text_field :contact_us_name_font_family %>
    </div>
  <div class="field">
      <%= f.label :contact_us_description_font_family %><br>
    <%= f.text_field :contact_us_description_font_family %>
    </div>
  <div class="field">
      <%= f.label :footer_font_family %><br>
    <%= f.text_field :footer_font_family %>
    </div>
    
  <div class="field">
      <%= f.label :logo_font_size %><br>
      <%= f.select :logo_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.logo_font_size) %>
    </div>
  <div class="field">
      <%= f.label :header_font_size %><br>
      <%= f.select :header_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.header_font_size) %>
    </div>
  <div class="field">
      <%= f.label :home_name_font_size %><br>
      <%= f.select :home_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.home_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :home_description_font_size %><br>
      <%= f.select :home_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.home_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_name_font_size %><br>
      <%= f.select :what_i_do_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.what_i_do_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :what_i_do_description_font_size %><br>
      <%= f.select :what_i_do_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.what_i_do_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_name_font_size %><br>
      <%= f.select :who_i_am_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.who_i_am_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :who_i_am_description_font_size %><br>
      <%= f.select :who_i_am_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.who_i_am_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :album_name_font_size %><br>
      <%= f.select :album_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.album_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :album_description_font_size %><br>
      <%= f.select :album_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.album_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :my_work_name_font_size %><br>
      <%= f.select :my_work_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.my_work_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :my_work_description_font_size %><br>
      <%= f.select :my_work_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.my_work_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :contact_us_name_font_size %><br>
      <%= f.select :contact_us_name_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.contact_us_name_font_size) %>
    </div>
  <div class="field">
      <%= f.label :contact_us_description_font_size %><br>
      <%= f.select :contact_us_description_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.contact_us_description_font_size) %>
    </div>
  <div class="field">
      <%= f.label :footer_font_size %><br>
    	<%= f.select :footer_font_size, options_for_select((1..200).step(1).to_a.map{|s| ["#{s}px", "#{s}px"]}, @company_layout.footer_font_size) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	$(document).ready( function() {
		$('.mini_color').minicolors({
					control: $(this).attr('data-control') || 'wheel',
					defaultValue: $(this).attr('data-defaultValue') || '',
					inline: $(this).attr('data-inline') === 'true',
					letterCase: $(this).attr('data-letterCase') || 'lowercase',
					opacity: $(this).attr('data-opacity'),
					position: $(this).attr('data-position') || 'bottom left',
					theme: 'bootstrap'
				});
	});
</script>
