<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_layout.company_id %>
</p>

<p>
  <strong>Header background color:</strong>
  <%= @company_layout.header_background_color %>
</p>

<p>
  <strong>Home background color:</strong>
  <%= @company_layout.home_background_color %>
</p>

<p>
  <strong>What i do background color:</strong>
  <%= @company_layout.what_i_do_background_color %>
</p>

<p>
  <strong>Who i am background color:</strong>
  <%= @company_layout.who_i_am_background_color %>
</p>

<p>
  <strong>Album background color:</strong>
  <%= @company_layout.album_background_color %>
</p>

<p>
  <strong>My work background color:</strong>
  <%= @company_layout.my_work_background_color %>
</p>

<p>
  <strong>Contact us background color:</strong>
  <%= @company_layout.contact_us_background_color %>
</p>

<p>
  <strong>Footer background color:</strong>
  <%= @company_layout.footer_background_color %>
</p>

<p>
  <strong>Header font color:</strong>
  <%= @company_layout.header_font_color %>
</p>

<p>
  <strong>Home name font color:</strong>
  <%= @company_layout.home_name_font_color %>
</p>

<p>
  <strong>Home description font color:</strong>
  <%= @company_layout.home_description_font_color %>
</p>

<p>
  <strong>What i do name font color:</strong>
  <%= @company_layout.what_i_do_name_font_color %>
</p>

<p>
  <strong>What i do description font color:</strong>
  <%= @company_layout.what_i_do_description_font_color %>
</p>

<p>
  <strong>Who i am name font color:</strong>
  <%= @company_layout.who_i_am_name_font_color %>
</p>

<p>
  <strong>Who i am description font color:</strong>
  <%= @company_layout.who_i_am_description_font_color %>
</p>

<p>
  <strong>Album name font color:</strong>
  <%= @company_layout.album_name_font_color %>
</p>

<p>
  <strong>Album description font color:</strong>
  <%= @company_layout.album_description_font_color %>
</p>

<p>
  <strong>My work name font color:</strong>
  <%= @company_layout.my_work_name_font_color %>
</p>

<p>
  <strong>My work description font color:</strong>
  <%= @company_layout.my_work_description_font_color %>
</p>

<p>
  <strong>Contact us name font color:</strong>
  <%= @company_layout.contact_us_name_font_color %>
</p>

<p>
  <strong>Contact us description font color:</strong>
  <%= @company_layout.contact_us_description_font_color %>
</p>

<p>
  <strong>Footer font color:</strong>
  <%= @company_layout.footer_font_color %>
</p>

<p>
  <strong>Header font:</strong>
  <%= @company_layout.header_font %>
</p>

<p>
  <strong>Home name font:</strong>
  <%= @company_layout.home_name_font %>
</p>

<p>
  <strong>Home description font:</strong>
  <%= @company_layout.home_description_font %>
</p>

<p>
  <strong>What i do name font:</strong>
  <%= @company_layout.what_i_do_name_font %>
</p>

<p>
  <strong>What i do description font:</strong>
  <%= @company_layout.what_i_do_description_font %>
</p>

<p>
  <strong>Who i am name font:</strong>
  <%= @company_layout.who_i_am_name_font %>
</p>

<p>
  <strong>Who i am description font:</strong>
  <%= @company_layout.who_i_am_description_font %>
</p>

<p>
  <strong>Album name font:</strong>
  <%= @company_layout.album_name_font %>
</p>

<p>
  <strong>Album description font:</strong>
  <%= @company_layout.album_description_font %>
</p>

<p>
  <strong>My work name font:</strong>
  <%= @company_layout.my_work_name_font %>
</p>

<p>
  <strong>My work description font:</strong>
  <%= @company_layout.my_work_description_font %>
</p>

<p>
  <strong>Contact us name font:</strong>
  <%= @company_layout.contact_us_name_font %>
</p>

<p>
  <strong>Contact us description font:</strong>
  <%= @company_layout.contact_us_description_font %>
</p>

<p>
  <strong>Footer font:</strong>
  <%= @company_layout.footer_font %>
</p>

<p>
  <strong>Header font size:</strong>
  <%= @company_layout.header_font_size %>
</p>

<p>
  <strong>Home name font size:</strong>
  <%= @company_layout.home_name_font_size %>
</p>

<p>
  <strong>Home description font size:</strong>
  <%= @company_layout.home_description_font_size %>
</p>

<p>
  <strong>What i do name font size:</strong>
  <%= @company_layout.what_i_do_name_font_size %>
</p>

<p>
  <strong>What i do description font size:</strong>
  <%= @company_layout.what_i_do_description_font_size %>
</p>

<p>
  <strong>Who i am name font size:</strong>
  <%= @company_layout.who_i_am_name_font_size %>
</p>

<p>
  <strong>Who i am description font size:</strong>
  <%= @company_layout.who_i_am_description_font_size %>
</p>

<p>
  <strong>Album name font size:</strong>
  <%= @company_layout.album_name_font_size %>
</p>

<p>
  <strong>Album description font size:</strong>
  <%= @company_layout.album_description_font_size %>
</p>

<p>
  <strong>My work name font size:</strong>
  <%= @company_layout.my_work_name_font_size %>
</p>

<p>
  <strong>My work description font size:</strong>
  <%= @company_layout.my_work_description_font_size %>
</p>

<p>
  <strong>Contact us name font size:</strong>
  <%= @company_layout.contact_us_name_font_size %>
</p>

<p>
  <strong>Contact us description font size:</strong>
  <%= @company_layout.contact_us_description_font_size %>
</p>

<p>
  <strong>Footer font size:</strong>
  <%= @company_layout.footer_font_size %>
</p>

<%= link_to 'Edit', edit_admin_company_layout_path(@company_layout) %> |
<%= link_to 'Back', admin_company_layouts_path %>
