<h3 class="alert alert-info">Listing Products - <%= @album.name %></h3>
<div class="table-responsive">
	<table class="table table-hover table-condensed">
	<tr>
		<td width="30%">
			<%= form_for [:company_admin, @album, @album_product], :html => {:class => "form-horizontal"} do |f| %>
			  <% if @album_product.errors.any? %>
			    <div id="error_explanation">
			      <ul>
			      <% @album_product.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
				<%= f.hidden_field :album_id, :value => @album.id %>
			  <div class="form-group">
				  	<label class="col-sm-2 control-label">Select Product</label>
				  	<div class="col-sm-10">	
				  		<%= f.select :product_id, options_for_select([["Select", ""]] + Product.active.where(:company_id => @album.company.id).collect {|r| [r.name, r.id]}, (@album_product.product.id unless @album_product.product.nil?)), :class =>"form-control"  %>
				  	</div>	
			   </div>				
		
			  <div class="form-group">
			  	<div class="col-sm-offset-2 col-sm-10">
			  		<%= link_to 'Back', company_admin_albums_path, :class => "btn-primary btn" %>
			    	<%= f.submit  :class => "btn-success btn" %>
			    </div>	
			  </div>
			<% end %>
		</td>
		<td width="70%">
			<% if @album_products.count > 0 %>
				<table class="table table-hover table-condensed">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Code</th>
				      <th>Photo</th>
				    </tr>
				  </thead>
				
				  <tbody>
				    <% @album_products.each do |album_product| %>
				      <tr>
				        <td><%= album_product.product.name %></td>
				        <td><%= album_product.product.code %></td>
				        <td><%= image_tag(album_product.product.photo_url_small, :alt => "photo") %></td>
				        <td><%= link_to 'Destroy', [:company_admin, @album, album_product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				<%= will_paginate @album_products %>
			<% else %>	
				<h3 class="alert alert-info">Album is empty...!!</h3>
			<% end %>	
		</td>	
	</tr>
</table>	
</div>			
				
