<h3 class="alert alert-info">Listing markets <div class="right mt3"><%= link_to 'New Market', new_admin_market_path, :class => "btn-primary btn" %></div></h3>
<div class="table-responsive">
	<table class="table table-hover table-condensed">
  <thead>
    <tr>
    	<th><%= sortable "name", t("general.name") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
      	<td><%= market.name %></td>
        <td><%= link_to 'Edit', edit_admin_market_path(market), :class => "btn-success btn" %>
        <%= link_to 'Destroy', [:admin, market], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-danger btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="right"><%= will_paginate @markets %></div>
</div>
