<!-- Footer -->
<footer id="footer" style="background: <%= @current_company_layout.footer_background_color %>;
											    font-size:  <%= @current_company_layout.footer_font_size %>;
											    font-family:  <%= @current_company_layout.footer_font_family %>;
											    color:  <%= @current_company_layout.footer_font_color %>;
											    font-style:  <%= @current_company_layout.footer_font %>;
											    ">

<!--
	     Social Icons
	     
	     Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
	
		<ul class="actions">
			<li><a href="#" class="fa solo fa-twitter"><span>Twitter</span></a></li>
			<li><a href="#" class="fa solo fa-facebook"><span>Facebook</span></a></li>
			<li><a href="#" class="fa solo fa-google-plus"><span>Google+</span></a></li>
			<li><a href="#" class="fa solo fa-dribbble"><span>Dribbble</span></a></li>
			<li><a href="#" class="fa solo fa-pinterest"><span>Pinterest</span></a></li>
			<li><a href="#" class="fa solo fa-instagram"><span>Instagram</span></a></li>
		</ul>
-->
<!-- Menu -->
	<ul class="menu">
		<li><%= @current_company.footer_content %></li>
	</ul>

</footer>