<%# add navigation links to this file %>
<% if user_signed_in? and current_user.is_admin %>
	<li><%= link_to 'Home', admin_home_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Markets', admin_markets_path %></li>
  <li><%= link_to 'Categories', admin_categories_path %></li>
  <li><%= link_to 'Work Types', admin_work_types_path %></li>  
  <li><%= link_to 'Companies', admin_companies_path %></li>
  <li><%= link_to 'Layouts', admin_company_layouts_path %></li>
  <li><%= link_to 'Products', admin_products_path %></li>
  <li><%= link_to 'Albums', admin_albums_path %></li>
  <li><%= link_to 'Contact Us', admin_contact_us_path %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% elsif user_signed_in? and current_company %>
	<li><%= link_to 'Home', "/", class: 'navbar-brand' %></li>
	<li><%= link_to 'Products', company_admin_products_path %></li>
	<li><%= link_to 'Albums', company_admin_albums_path %></li>
	<li><%= link_to 'Contact Us', company_admin_contact_us_path %></li>
	<li><%= link_to 'Edit Account', edit_user_registration_path %></li>
	<li><%= link_to 'Edit Company', company_admin_companies_path %></li>  
	<li><%= link_to 'Edit Layout', company_admin_company_layouts_path %></li>
	<li><%= link_to 'Edit Work Types', company_admin_company_work_types_path %></li>
	<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% elsif user_signed_in? %>
	<li><%= link_to 'Home', "/", class: 'navbar-brand' %></li>  
<% end %>