<!DOCTYPE html>
<html>
  <head>
		<title>Textile</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Textile" %>">
    
    <%= stylesheet_link_tag 'home/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home/application', 'data-turbolinks-track' => true %>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/fonts.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->    
    <%= csrf_meta_tags %>
  </head>

	<body>
		<%= render 'layouts/home_header' %>
		<%= yield %>
		<%= render 'layouts/home_footer' %>
	</body>
</html>
